In [1]:
import pandas as pd

In [17]:
df= pd.read_csv('HackUTD-2023-HomeBuyerInfo.csv')
df["LTV"]= (df["LoanAmount"] - df["DownPayment"])/df["AppraisedValue"]
df["DTI"]= (df["CarPayment"]+ df["CreditCardPayment"] + df["StudentLoanPayments"] + df["MonthlyMortgagePayment"])/df["GrossMonthlyIncome"]
df["FEDTI"]= df["MonthlyMortgagePayment"]/df["GrossMonthlyIncome"]
df

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,LTV,DTI,FEDTI
0,1,3103.0,317.0,374.0,250.0,268468.0,32216.16,236251.84,1127.90,778,0.76,0.666742,0.363487
1,2,2939.0,368.0,395.0,228.0,335467.0,30192.03,305274.97,2240.00,546,0.82,1.099354,0.762164
2,3,4676.0,222.0,352.0,368.0,461177.0,36894.16,424282.84,2277.64,736,0.84,0.688546,0.487092
3,4,8469.0,224.0,416.0,400.0,326904.0,22883.28,304020.72,1451.44,761,0.86,0.294183,0.171383
4,5,2406.0,497.0,385.0,444.0,472661.0,23633.05,449027.95,2987.39,615,0.90,1.792764,1.241642
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,4329.0,483.0,473.0,306.0,440365.0,123302.20,317062.80,1513.71,754,0.44,0.641190,0.349667
9996,9997,7037.0,465.0,408.0,338.0,312762.0,56297.16,256464.84,1537.64,656,0.64,0.390598,0.218508
9997,9998,9086.0,284.0,352.0,288.0,284712.0,56942.40,227769.60,1671.29,569,0.60,0.285636,0.183941
9998,9999,9655.0,443.0,365.0,407.0,387465.0,65869.05,321595.95,2359.76,700,0.66,0.370250,0.244408
9999,10000,4086.0,457.0,373.0,392.0,387703.0,108556.84,279146.16,2048.28,515,0.44,0.800362,0.501292

In [3]:
df.columns

Index(['ID', 'GrossMonthlyIncome', 'CreditCardPayment', 'CarPayment',
       'StudentLoanPayments', 'AppraisedValue', 'DownPayment', 'LoanAmount',
       'MonthlyMortgagePayment', 'CreditScore'],
      dtype='object')

In [20]:
def rules(x):
    if x["CreditScore"] >=640:
        if x["LTV"]<.80:
            if x["DTI"]<.46:
                if x["FEDTI"]<.28:
                    return "Approved"
    return "Denied"

df["Status"]= df.apply(rules, axis=1)
df

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,LTV,DTI,FEDTI,Status
0,1,3103.0,317.0,374.0,250.0,268468.0,32216.16,236251.84,1127.90,778,0.76,0.666742,0.363487,Denied
1,2,2939.0,368.0,395.0,228.0,335467.0,30192.03,305274.97,2240.00,546,0.82,1.099354,0.762164,Denied
2,3,4676.0,222.0,352.0,368.0,461177.0,36894.16,424282.84,2277.64,736,0.84,0.688546,0.487092,Denied
3,4,8469.0,224.0,416.0,400.0,326904.0,22883.28,304020.72,1451.44,761,0.86,0.294183,0.171383,Denied
4,5,2406.0,497.0,385.0,444.0,472661.0,23633.05,449027.95,2987.39,615,0.90,1.792764,1.241642,Denied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,4329.0,483.0,473.0,306.0,440365.0,123302.20,317062.80,1513.71,754,0.44,0.641190,0.349667,Denied
9996,9997,7037.0,465.0,408.0,338.0,312762.0,56297.16,256464.84,1537.64,656,0.64,0.390598,0.218508,Approved
9997,9998,9086.0,284.0,352.0,288.0,284712.0,56942.40,227769.60,1671.29,569,0.60,0.285636,0.183941,Denied
9998,9999,9655.0,443.0,365.0,407.0,387465.0,65869.05,321595.95,2359.76,700,0.66,0.370250,0.244408,Approved
9999,10000,4086.0,457.0,373.0,392.0,387703.0,108556.84,279146.16,2048.28,515,0.44,0.800362,0.501292,Denied